<launch>

  <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery" />

  <node pkg="master_sync_fkie" type="master_sync" name="master_sync">
    <rosparam param="ignore_services">['/*replace', '/*list', '/*load_nodelet', '/*unload_nodelet']</rosparam>
    <rosparam param="sync_nodes">['/robot_manager']</rosparam>
    <rosparam param="ignore_topics">['/map*', '/tf*', '/stdr_server*']</rosparam>
  </node>

</launch>
